

html {
	background-color: #4f5b66;
	height: 100%;
	margin: 0
}

body {
	height: inherit;
	margin: 0
}

.EasyDoc_document {
	color: #fff;
	opacity: 1;
	transition: opacity .3s;
	padding-right: 20px
}

.content {
	position: relative;
	margin-left: 250px;
	padding-left: 20px;
	height: inherit
}

.content img {
	width: 100%;
	max-width: 500px;
	height: auto;
	cursor: pointer
}

#loader {
	position: absolute;
	display: flex;
	height: inherit;
	align-items: center;
	margin-left: 50%;
	margin-right: 50%
}

#loader>.default {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto
}

#loader>.default>.bounce1,
.bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #bebebe;
	opacity: .6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2s infinite ease-in-out;
	animation: sk-bounce 2s infinite ease-in-out
}

#loader>.default>.bounce2 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0)
	}
	50% {
		-webkit-transform: scale(1)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity .3s
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0 .3s, opacity .3s
}

#EasyDoc_List_Img{
	display: flex;
	justify-content: center;
	margin: .5em 0;
}
#EasyDoc_List_Img img{
	max-width: 45%;
}

#EasyDoc_Lang {
	margin: .5em .5em;
	width: calc(100% - 1.2em);
	color: #fff;
	background-color: #606c76;
}

.sidenav {
	height: 100vh;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2c363f;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.sidenav hr {
	margin: 1em 2em;
}

.sidenav dt {
	color: #fff;
	padding: 16px;
	text-decoration: none;
	margin-bottom: 0;
	cursor: pointer;
	display: flex;
	justify-content: flex-start
}

.if-accordion {
	justify-content: space-between!important
}

.sidenav .innerDl{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.sidenav dt>span {
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
	text-align: end
}

.sidenav dt>* {
	color: #fff
}

.sidenav dt:hover {
	background-color: #ddd;
    color: #000
}

.sidenav .activeLink {
	background-color: #30a8a8
}

@media screen and (max-height:450px) {
	.sidenav {
		padding-top: 15px
	}
	.sidenav a {
		font-size: 18px
	}
}

#linkedList {
	margin: 0;
	overflow-x: auto
}

.dlHide {
	display: none !important;
}

#linkedList dt input {
	border: none;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer
}

#linkedList dt input:hover {
	background-color: rgba(255, 255, 255, .3);
	cursor: pointer;
	border-radius: 0
}

#linkedList #EasyDoc_List_Img {
	text-align: center
}

#linkedList #EasyDoc_List_Img>img {
	max-width: 70%;
	margin-bottom: .5em
}

mark {
	background-color: #ffe82e
}

.EasyDoc_modal {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, .6);
	font-size: larger;
	color: #fff;
	margin: auto
}

.EasyDoc_modal_close {
	position: fixed;
	font-size: xxx-large;
	top: 0;
	right: 30px;
	cursor: pointer;
	height: 0
}

.arrow-animation {
	transition-property: color;
	transition-duration: .5s
}

.arrow-animation-inverse
{
	rotate: 50%;
}

.arrow-animation:hover {
	color: #30a8a8 !important
}

.video_player {
	width: 100%;
	height: 0px;
	position: relative;
	padding-bottom: 52.083%
}

#toTheTop {
	position: fixed;
	right: 0;
	border: 0;
	background-color: #2c363f;
	bottom: 0;
	font-size: xxx-large;
	width: 64px;
	height: 64px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	border-radius: .2em 0 0 0
}

#toTheTop span {
	margin-top: -5px
}

